.welcomeheader {
    color: white;
    background-color: #008334;
    padding: 0.5% 0;
    letter-spacing: 4px;
    word-spacing: 4px;
    font-size: 2vw;
}

.background {
    background-image: url("../assets/courtimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    border: 3px solid #008334;
}

.backgroundcontent {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 0 2%;
}

.actionbtn {
    width: 40%;
    background-color: #008334;
    color: white;
    border: 0;
    padding: 3%;

    margin: 4% 0;
    border-radius: 4px;
}

.writeup {
    color: white;
    width: 100%;
    font-size: 5vh;
    font-weight: 600;
}


@media screen and (max-width:900px) {
    .background {
        height: 70vh;
    }

    .backgroundcontent {
        /* border: 2px solid red; */
        width: 50%;
    }

    .writeup {
        font-size: 2.5vw;
        font-weight: 700;
    }

    .actionbtn {
        width: 40%;
        padding: 4%;
    }
}
@media screen and (max-width:499px) {
    .background{
        height: 40vh;
    }
    .writeup{
        font-size: 4vw;
    }
    .actionbtn{
        width: 60%;
        padding: 6%;
    }
}