.signupscreen {
    background-color: #008334;
    border: 1px solid #008334;

    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.signupheader h3,
p {
    margin: 0;
}

.signuppage {
    padding: 1.5%;
    width: 50%;
    background-color: #FFFFFF;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}

.signupheader {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

label {
    margin-top: 3%;
    font-size: 1vw;
}

.signuppage input {
    background-color: #F5F5F5;
    border: 0;
    outline-color: #008334;
    font-size: 1vw;
    padding: 2% 1%;
    line-height: 10px;
}

.submitbtn {
    padding: 1.4%;
    width: 70%;
    background-color: #008334;
    color: #FFFFFF;
    border: 0;
    font-size: 1vw;
    margin-top: 3%;
    border-radius: 5px;
}

.googlebtn {
    width: 70%;
    font-size: 1vw;
    background-color: #FFFFFF;
    border: 1px solid #008334;
    padding: 1.3%;
    border-radius: 5px;
}

.signuppage a {
    color: #008334;
    text-decoration: none;
}

@media screen and (max-width:600px) {
    .signupscreen {
        height: 100dvh;
        background-color: #008334;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .signuppage {
        width: 90%;
        height: 70vh;
    }
    .signuppage form{
        width: 80%;
    }
    .signuppage label {
        font-size: 3vw;
        margin-top: 5%;
    }

    .signuppage input {
        font-size: 4vw;
        padding: 2% 0%;
        width: 100%;
    }
    .submitbtn{
        font-size: 4vw;
        width: 80%;
        padding: 2% 0;
    }
    .googlebtn{
        font-size: 4vw;
        color: #008334;
        width: 80%;
        padding: 2% 0;
    }
}